.form {
    display: flex;
  }
  
  .form input {
    font-size: 1.25rem;
    outline: none;
    border: none;
    border-bottom: 1px solid #d0ebff;
    width:75%;
  }

  .form input.color1{
    color:#343a40;
  }
  .form input.color2{
    color:#f03e3e;
  }
  .form input.color3{
    color:#12b886;
  }
  .form input.color4{
    color:#228ae6;
  }

  .form input.bold-font{
    font-weight:bold;
  }
  
  .create-button {
    width:25%;
    box-sizing: border-box;

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 1rem;
    background: #1971c2;
    border-radius: 3px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
  }
  
  .create-button:hover {
    background: #a5d8ff;
  }

  .palette-with-btns{
    display:flex;
    align-items: center;
  }
  .sort-btn{
    width:1.5rem;
    height:1.5rem;
    margin-right:1.5rem;
    cursor: pointer;
  }
  .sort-btn>img{
    width:100%;
  }